workflows/signal-cleanup.json
{
  "name": "Signal_Cleanup",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "name": "Daily 5 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        192
      ],
      "id": "b0b5c20d-e84a-4662-963f-3c173f3b57ab",
      "notes": "Triggers daily cleanup: cache purge, transcript cleanup, stats snapshot."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM content_cache WHERE expires_at IS NOT NULL AND expires_at < NOW();",
        "options": {}
      },
      "name": "Purge Expired Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        192
      ],
      "id": "a59bcff8-95ed-446a-b3b3-64a8a39ef58d",
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL"
        }
      },
      "notes": "Deletes cache entries past their TTL. Admin = permanent, user = 14 days."
    },
    {
      "parameters": {
        "jsCode": "// delete temp files: transcripts, NC downloads, extracted audio\n\nconst { execFileSync } = require('child_process');\n\n// Find and delete transcript files older than 14 days\nconst dirs = [\n  '/vault/30-SIGNALS/32-YouTube/.transcripts',\n  '/vault/30-SIGNALS/36-Podcasts/.transcripts'\n];\n\nlet deleted = 0;\nlet errors = [];\n\nfor (const dir of dirs) {\n  try {\n    // Check if directory exists\n    const fs = require('fs');\n    if (!fs.existsSync(dir)) continue;\n    \n    const files = fs.readdirSync(dir);\n    const now = Date.now();\n    const fourteenDays = 14 * 24 * 60 * 60 * 1000;\n    \n    for (const file of files) {\n      if (file.startsWith('.') || file.startsWith('_')) continue; // Skip hidden/template files\n      const filePath = `${dir}/${file}`;\n      try {\n        const stats = fs.statSync(filePath);\n        if (now - stats.mtimeMs > fourteenDays) {\n          fs.unlinkSync(filePath);\n          deleted++;\n        }\n      } catch (e) {\n        errors.push(`${filePath}: ${e.message}`);\n      }\n    }\n  } catch (e) {\n    errors.push(`${dir}: ${e.message}`);\n  }\n}\n\n// Phase 1E: Clean stale NextCloud temp files (older than 24h)\nconst tmpCleanup = { nc: 0, audio: 0 };\ntry {\n  const tmpFiles = fs.readdirSync('/tmp');\n  const oneDay = 24 * 60 * 60 * 1000;\n  for (const file of tmpFiles) {\n    if ((file.startsWith('nc_') || file.startsWith('audio_')) && !file.startsWith('.')) {\n      const filePath = `/tmp/${file}`;\n      try {\n        const stats = fs.statSync(filePath);\n        if (now - stats.mtimeMs > oneDay) {\n          fs.unlinkSync(filePath);\n          if (file.startsWith('nc_')) tmpCleanup.nc++;\n          else tmpCleanup.audio++;\n        }\n      } catch(e) { errors.push(`${filePath}: ${e.message}`); }\n    }\n  }\n} catch(e) { errors.push(`/tmp cleanup: ${e.message}`); }\n\nreturn [{ json: {\n  _transcriptsDeleted: deleted,\n  _errors: errors,\n  _timestamp: new Date().toISOString(),\n  _tmpNcDeleted: tmpCleanup.nc,\n  _tmpAudioDeleted: tmpCleanup.audio\n}}];"
      },
      "name": "Cleanup Transcripts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        192
      ],
      "id": "917e7f38-f31a-41fb-b30f-0ca7b84e5548",
      "notes": "Deletes temp files: transcripts, NC downloads, extracted audio. Runs at 5 AM."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT COUNT(*) FROM content_cache) as cache_rows, (SELECT COUNT(*) FROM content_variants) as variant_rows, (SELECT COUNT(*) FROM pipeline_queue WHERE status = 'done') as done_jobs, (SELECT COUNT(*) FROM pipeline_queue WHERE status = 'failed') as failed_jobs;",
        "options": {}
      },
      "name": "Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        192
      ],
      "id": "7a24baca-30f9-443b-90a5-4216812c7fca",
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL"
        }
      },
      "notes": "Snapshots pipeline stats: queue depth, cache size, user count."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Daily 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        672
      ],
      "id": "00d3fdbc-036f-4c5b-9463-103c1868d7ca",
      "notes": "Triggers deferred response delivery at 8 AM."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pq.id, pq.response_text, pq.sender, pu.signal_uuid FROM pipeline_queue pq JOIN pipeline_users pu ON pq.sender = pu.id WHERE pq.response_sent = FALSE AND pq.response_text IS NOT NULL AND pq.status = 'done' ORDER BY pq.created_at;",
        "options": {}
      },
      "name": "Fetch Pending Responses",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        672
      ],
      "id": "303e7b58-fbf6-40e1-b231-2755908b9b61",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL"
        }
      },
      "notes": "Fetches all unsent deferred responses from deferred_responses table."
    },
    {
      "parameters": {
        "jsCode": "// deliver saved responses via Signal at 8 AM\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const { id, response_text, signal_uuid } = item.json;\n\n  // Skip if no response text or no recipient\n  if (!response_text || !signal_uuid) {\n    results.push({ json: { jobId: id, sent: false, reason: 'missing data' } });\n    continue;\n  }\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://YOUR_HOST_IP:8082/v2/send',\n      body: {\n        message: response_text,\n        number: 'YOUR_PHONE_NUMBER',\n        recipients: [signal_uuid]\n      },\n      headers: { 'Content-Type': 'application/json' },\n      timeout: 10000\n    });\n    results.push({ json: { jobId: id, sent: true } });\n  } catch (e) {\n    results.push({ json: { jobId: id, sent: false, error: e.message } });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _noResponses: true } }];\n}\n\nreturn results;"
      },
      "name": "Send Deferred Msgs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        672
      ],
      "id": "47c99710-1817-4b49-a3a9-760d811a0ceb",
      "notes": "Delivers saved responses via Signal API at 8 AM. Iterates all pending."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pipeline_queue SET response_sent = TRUE WHERE response_sent = FALSE AND response_text IS NOT NULL AND status = 'done';",
        "options": {}
      },
      "name": "Mark Responses Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1056,
        672
      ],
      "id": "507c9e4c-a177-46e3-b1ac-0d34dff7e3d0",
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL"
        }
      },
      "notes": "Marks deferred responses as sent after successful delivery."
    },
    {
      "parameters": {
        "content": "## Credential\n**Postgres Signal**\nDeletes cache entries past their TTL.",
        "height": 302,
        "width": 260,
        "color": 3
      },
      "id": "03b27775-7fb9-48ac-bd46-1711e6b92424",
      "name": "Credential: Purge Expired Cache",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        64
      ]
    },
    {
      "parameters": {
        "content": "## Credential\n**Postgres Signal**\nSnapshots pipeline stats.",
        "height": 302,
        "width": 260,
        "color": 3
      },
      "id": "e85be6aa-6b48-4e09-a0bb-1b0d280d50d5",
      "name": "Credential: Stats",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        64
      ]
    },
    {
      "parameters": {
        "content": "## Credential\n**Postgres Signal**\nFetches unsent deferred responses.",
        "height": 318,
        "width": 260,
        "color": 3
      },
      "id": "f969cbdf-b0b9-4420-ae78-b780eaa0dcd1",
      "name": "Credential: Fetch Pending Responses",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        528
      ]
    },
    {
      "parameters": {
        "content": "## Credential\n**Postgres Signal**\nMarks deferred responses as sent.",
        "height": 318,
        "width": 260,
        "color": 3
      },
      "id": "a10213de-d473-46cf-b206-57e058aff06a",
      "name": "Credential: Mark Responses Sent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        528
      ]
    },
    {
      "parameters": {
        "content": "## Config\n**Signal REST API**\n`YOUR_HOST_IP:8082` \u2014 must replace with your signal-cli-rest-api endpoint.\n**Signal Number**\n`YOUR_PHONE_NUMBER` \u2014 your Signal sender number.",
        "height": 350,
        "width": 308,
        "color": 3
      },
      "id": "cf90946b-bcf3-49b5-b586-a545fe0e5ecd",
      "name": "Config: Send Deferred Msgs",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        496
      ]
    },
    {
      "parameters": {
        "content": "# Signal Cleanup\n## Daily maintenance for the Signal pipeline. Purges expired cache and transcripts at 5 AM, delivers deferred responses at 8 AM.",
        "height": 216,
        "width": 600,
        "color": 6
      },
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        16
      ],
      "id": "823459f4-9ee7-4868-a3e9-58c2989850dc"
    },
    {
      "parameters": {
        "content": "## Deferred Delivery\nDelivers saved responses via Signal at 8 AM. Fetches pending, sends each, marks as sent.",
        "height": 480,
        "width": 1120,
        "color": 7
      },
      "name": "Section: DEFERRED DELIVERY",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        416
      ],
      "id": "18ad434b-51d2-499a-b63e-01ab1dec4c74"
    },
    {
      "parameters": {
        "content": "## Cleanup\nPurges expired cache entries, deletes old transcripts, snapshots pipeline stats.",
        "height": 448,
        "width": 1056,
        "color": 7
      },
      "name": "Section: CLEANUP",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -48
      ],
      "id": "d81afb6f-d799-4499-808e-c8659a42d975"
    }
  ],
  "connections": {
    "Daily 5 AM": {
      "main": [
        [
          {
            "node": "Purge Expired Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Purge Expired Cache": {
      "main": [
        [
          {
            "node": "Cleanup Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Transcripts": {
      "main": [
        [
          {
            "node": "Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8 AM": {
      "main": [
        [
          {
            "node": "Fetch Pending Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Responses": {
      "main": [
        [
          {
            "node": "Send Deferred Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Deferred Msgs": {
      "main": [
        [
          {
            "node": "Mark Responses Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 93,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-08T10:23:10.987Z",
      "createdAt": "2026-03-08T10:23:10.987Z",
      "role": "workflow:owner",
      "workflowId": "MO2YDCpDksuDvax4",
      "projectId": "LvZfzuC4dHxTUyOL",
      "project": {
        "updatedAt": "2026-03-06T16:58:01.728Z",
        "createdAt": "2026-03-06T16:57:45.333Z",
        "id": "LvZfzuC4dHxTUyOL",
        "name": "Dee Admin <dee@stmna.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7676d3eb-8926-44ae-aa37-37241b98e3d4"
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:update"
  ],
  "checksum": "f6d4222f9e0c5ca1681824ef811eb84bf8436cf3d2deb06e1b9e31cce208f945"
}